:root {
    --color-principal: #5c5959;
    /* Fondo principal oscuro */
    --color-secondary: #04B4E0;
    /* Mantén el color secundario brillante */

    --color-background: #a1a1a1;
    /* Fondo oscuro */
    --color-transparent: transparent;

    --color-icon: #E0E0E0;
    /* Iconos claros para buen contraste */
    --color-titles: #FFFFFF;
    /* Títulos en blanco para contraste */
    --color-subtitle: #CCCCCC;
    /* Subtítulos en gris claro */
    --color-text: #e7e3e3;
    /* Texto en un tono gris claro */

    --color-border-reviews: #ffffff;
    /* Bordes más oscuros pero sutiles */
    --color-company: #888888;
    /* Color de texto para empresas en gris intermedio */

    --color-scrollbar: #555555;
    /* Scrollbar oscuro */
    --color-background-crollbar: #222222;
    /* Fondo de scrollbar más oscuro */

    --color-background-certificate: #ffffff;
    /* Fondo de certificados en un tono ligeramente más claro que el principal */
    --color-background-contact: #838383;
    /* Fondo de contacto también en gris oscuro */
}

.timeline__divider {

    background-color: white;
}

.timeline__company {
    color: var(--color-secondary);
}

.certificate__content {
    background-color: #838383;
}

.portfolio__link {
    color: white;
}

.gallery__item {
    background-color: #838383;
    border: 1px solid var(--color-secondary);
}

.gallery__title {
    color: white;
}

.article__mask {
    background-color: #838383;
}

.article__bottom {
    background-color: #838383;
    border: 0.1rem solid var(--color-secondary);
    border-top: none;
}

#accordion .card {
    background-color: #343a40;
    /* Fondo oscuro para las tarjetas del acordeón */
    color: #fff;
    /* Texto blanco */
}

#accordion .card-header {
    background-color: #495057;
    /* Fondo más oscuro para los encabezados */
    color: #fff;
    /* Texto blanco para los encabezados */
}

#accordion .card-body {
    background-color: #6c757d;
    /* Fondo gris oscuro para el cuerpo del acordeón */
    color: #fff;
    /* Texto blanco */
}

#accordion a {
    color: #f8f9fa;
    /* Texto claro para los enlaces */
}

#accordion a:hover {
    color: #ced4da;
    /* Color más claro en hover */
}