:root {
    --color-principal: #5c5959;
    /* Fondo principal oscuro */
    --color-secondary: #04B4E0;
    /* Mantén el color secundario brillante */

    --color-background: #a1a1a1;
    /* Fondo oscuro */
    --color-transparent: transparent;

    --color-icon: #E0E0E0;
    /* Iconos claros para buen contraste */
    --color-titles: #FFFFFF;
    /* Títulos en blanco para contraste */
    --color-subtitle: #CCCCCC;
    /* Subtítulos en gris claro */
    --color-text: #e7e3e3;
    /* Texto en un tono gris claro */

    --color-border-reviews: #ffffff;
    /* Bordes más oscuros pero sutiles */
    --color-company: #888888;
    /* Color de texto para empresas en gris intermedio */

    --color-scrollbar: #555555;
    /* Scrollbar oscuro */
    --color-background-crollbar: #222222;
    /* Fondo de scrollbar más oscuro */

    --color-background-certificate: #ffffff;
    /* Fondo de certificados en un tono ligeramente más claro que el principal */
    --color-background-contact: #838383;
    /* Fondo de contacto también en gris oscuro */
}